// @use './resources/partials/variables' as *;


$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

   main {

 background-color: black;

 .card-body {
        background-color: black;

    }

    .card {
        border: 0;
        transition: 0.2s;

        text-decoration: none;

        &:hover {
            cursor: pointer;
            background-color: gray;

        }

   }


     li {
        list-style: none;

    }

    a {
        text-decoration: none;
    }
}


header{
     li {
        list-style: none;

    }

    a {
        text-decoration: none;
    }
     .head-link {
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: blue;
            border-bottom: blue solid 1px;
        }

    }
}
footer {
        background-image: url('/image/footer-bg.jpg');
    li {
        list-style: none;

    }

    a {
        text-decoration: none;
    }
}
